<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cotizador Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Cotizador Web</h1>
    <form action="/generar" method="POST">
        <label>Nombre del cliente a cotizar: </label>
        <input type="text" name="cliente" required>
        <h2>Selecciona los ítems:</h2>

        {% for item in items %}
            <div>
                <input type="checkbox" id="item{{item[0]}}" name="items" value="{{item[0]}}">
                <label for="item{{item[0]}}">{{item[1]}} ({{item[2]}}) - ${{'%.2f' % item[3]}}</label>
                Cantidad: <input type="number" name="cantidad_{{item[0]}}" value="1" min="1" style="width: 50px;">
            </div>
        {% endfor %}

        <button type="submit">Generar Cotización</button>
    </form>
</body>
</html>